<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Usuario</label>
            <input 
            type="text" 
            name="username" 
            id="username"
            placeholder="Nombre de usuario"
            required
            autofocus
            value="{{ form.username.value|default:'' }}"
            >
        </div>
         <div>
            <label for="password">COntraseña</label>
            <input 
            type="password" 
            name="password" 
            id="password"
            placeholder="********"
            required
            >
        </div>
        <div>
            <button type="submit">Entrar</button>
        </div>
        </form>
</body>
</html> 